@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Kode+Mono:wght@400..700&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #fcfbfb;
    font-family: Cormorant, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}


/* NAV BAR (ALL PURPOSES) & SCROLL INDICATOR (HOME PAGE) */
.scroll-indicator {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #a87b45;
    border-style: solid;
    border-width: 3px;
}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
nav a {
    text-align: center;
    color: #6effee;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #9bfff3;
    color: #00493a;
    text-decoration: underline;
}
.logo {
    width: 80px;
}
#logo-link-top {
    padding-left: 55px;
    justify-self: center;
    align-self: center;
}
  .progress-bar {
    height: 15px;
    background: #00876a;
    width: 0%;
  }


/* OPENING MESSAGE (ALL PURPOSES) */
#opening-msg {
    font-family: "Kode Mono";
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#opening-txt {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}


/* FOOTER (ALL PURPOSES) */
footer {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #a87b45;
    border-style: solid;
    border-width: 3px;
}
#logo-link-bottom {
    padding-right: 100px;
    justify-self: right;
    align-self: center;
}


/* HERO (FOR HOME PAGE) */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/gulf-gt.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-button {
    text-align: center;
    top: 50%;
    left: 50%;
    padding: 250px;
  }
  .hero-button a {
    font-size: 60px;
    font-family: Helvetica;
    padding: 20px;
    color: white;
    background-color: #a87b45;
    text-decoration: none;
    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
    border-color: #6effee;
  }
  .hero-button a:hover {
    background-color: #6effee;
    color: #00493a;
    text-decoration: underline;
  }


/* MAIN SECTION (FOR HOME PAGE) */
.home-grid-portrait {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    background-color: #6effee;
    border-top: 3px solid #00362a;
    border-left: 3px solid #00362a;
    border-right: 3px solid #00362a;
}
.home-grid-landscape {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    background-color: #6effee;
    border-left: 3px solid #00362a;
    border-right: 3px solid #00362a;
    border-bottom: 3px solid #00362a
}
.car-pic-portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.car-pic-portrait img {
    margin-top: 35px;
    max-height: 600px;
    max-width: 100%;
}
.car-pic-landscape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.car-pic-landscape img {
    max-width: 85%;
    max-height: 85%;
}
.img-desc {
    text-align: center;
    font-size: 20px;
    margin: 30px 30px;
    background-color: white;
    border-style: solid;
    padding: 20px
}
#background {
    height: 160px;
    background-color: #ffffff;
    max-width: 1600px;
    margin: 0 auto;
}


/* MAIN SECTION (FOR LOCATIONS PAGE) */
.locations-grid {
    display: block;
    gap: 10px;
    background-color: #6effee;
    border-color: #00362a;
    border-style: solid;
    border-width: 3px;
}
.location-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-pic img {
    max-width: 85%;
    max-height: 85%;
    margin-top: 65px;
}


/* MAIN SECTION (FOR CONTACT PAGE) */
.container {
    position: relative;
    text-align: center;
    color: white;
}
.container img {
    width: 100%;
    margin-bottom: -7px
}
.left-message {
    position: absolute;
    left: 40px;
    top: 300px;
    background-color: #00876a;
    border-color: #00493a;
    border-style: solid;
    border-width: 5px;
    margin: 10px
}
.left-message h1 {
    font-size: 40px;
    padding: 50px;
}
.right-message {
    position: absolute;
    right: 40px;
    top: 300px;
    background-color: #00876a;
    border-color: #00362a;
    border-style: solid;
    border-width: 5px;
    margin: 10px
}
.right-message h1 {
    font-size: 45px;
    padding: 50px;
}


/* MAKING IT RESPONSIVE */
@media screen and (max-width: 500px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-message, .right-message {
        position: relative;
        margin: 20px;
        width: auto;
        left: auto;
        right: auto;
        top: auto;
    }
    header, nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}